.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
}

.sidebar {
  background-color: #19222a;
  visibility: visible;
  height: 100vh;

  header{
    background-color: #09f;
    display:block;
    padding: 0.75em	1em;
  }
}

ul {
  list-style:none;
  color: #09f;
  cursor: pointer;
}

.draggable {
  width: max-content;
}
